.svgTourch {
  position: relative;
  cursor: none;
  --cursorX: -10000000vw;
  --cursorY: -10000000vh;
  --circleDiameter: 10vmax;
  touch-action: none;

  /* torch opacities */
  --backgroundOpacity: 0.95;
  --torchOpacity: 0.5;

  /* torch opacities */
  --torchSharpness: 80%;
}

/* Tourch overley */
.svgTourch img {
  display: block;
  height: 100%;
  width: 100%;
}

.svgTourch::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: radial-gradient(circle var(--circleDiameter) at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, var(--torchOpacity)) var(--torchSharpness),
      rgba(0, 0, 0, var(--backgroundOpacity)) 100%
  );
}